@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Poppins, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .client-details {
            max-width: fit-content;
            min-height: 300px;
            margin: auto;
            background-color: #ffffff;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 50px;
            text-align: center;
            color: rgb(135, 78, 205);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: lighter;
        }


    </style>
</head>

<div class="client-details">
    <div class="image">
        <img src="/images/dotnet.png" alt="Mascote" />
    </div>
    <div>
        <h3>Pequena aplicação em .NET</h3>
    </div>
</div>

</html>